body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #acb6e5); /* Fundo gradiente */
}

#header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#content {
    margin: 50px auto;
    width: 80%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    color: #000000; /* Cor da fonte */
}

ul {
    list-style: none;
    padding: 0;
}

/* Adiciona espaço entre o título e a lista de opções */
#content ul {
    margin-top: 50px; /* Espaçamento superior de 20 pixels */
}

li {
    margin-bottom: 50px;
}

a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 12px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}

a:hover {
    background-color: #0056b3; /* Cor de destaque ao passar o cursor */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */
}
