body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #acb6e5); /* Fundo gradiente */
}

#header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#content {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#footer a {
    text-decoration: none;
    color: #000000;
    margin: 0 100px;
    font-size: 20px;
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 18px; /* Tamanho da fonte aumentado */
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px); /* Ajuste para levar em conta a largura da borda */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black; /* Borda preta */
    border-radius: 6px; /* Bordas arredondadas */
    box-sizing: border-box;
    font-size: 16px; /* Tamanho da fonte aumentado */
}

button {
    font-size: 18px;
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Cor do botão */
    border: none;
    border-radius: 6px; /* Bordas arredondadas */
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Transição suave */
}

button:hover {
    background-color: #0056b3; /* Cor de destaque ao passar o cursor */
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Adicione estas regras no seu arquivo CSS */

select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none; /* Remove o estilo padrão da lista suspensa */
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon points="5 8 10 13 15 8"></polygon></svg>'); /* Ícone de seta personalizado */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}

/* Estilo ao passar o mouse sobre as opções */
select:hover {
    background-color: #f5f5f5; /* Cor de fundo ao passar o mouse */
}

/* Estilo quando a lista suspensa está aberta */
select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-radius: 5px #000000; /* Sombra ao redor da lista suspensa quando em foco */
}

