body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #acb6e5); /* Fundo gradiente */
}

#header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#content {
    margin: 50px auto;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

#footer a {
    text-decoration: none;
    color: #000000;
    margin: 0 6%;
    font-size: 20px;
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

h3 {
    margin-top: 0;
    color: #555;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Estilo específico para o campo de data e hora */
input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}




/* Estilos para os atletas ficarem um ao lado do outro */
#atletasContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(4, auto); /* Quatro linhas */
    gap: 20px; /* Espaçamento entre as colunas e linhas */
    justify-content: space-between; /* Alinhamento horizontal */
    align-content: space-between; /* Alinhamento vertical */
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, auto); /* Duas linhas */
    gap: 10px; /* Espaçamento entre as caixas de seleção */
}

/* Estilizando as caixas de seleção e os rótulos */
#especializacoes input[type="checkbox"] {
    display: inline-block; /* Alinha as caixas de seleção em linha */
}

#especializacoes label {
    display: inline-block; /* Alinha os rótulos em linha */
    font-size: 16px;
    color: #555;
    margin-right: 20px; /* Espaçamento entre as caixas de seleção e os rótulos */
    margin-bottom: 50px; 
}

.localPartida{
    margin-top: 80px;
}


@media screen and (max-width: 550px) {
    #atletasContainer {
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(1, auto); 
    }
}
