/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  CONTAINER =================== */

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.side-image {
  max-width: 42rem;
}

/*====  FORM ====================== */

.form-container {
  padding: 4rem 5rem;
  margin: auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.form-subtitle {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  text-align: center;
  color: #636364;
}

.input-title {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.select-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-field-container p {
  display: flex;
  align-items: start;
}

.select-field {
  width: 60%;
  height: 2.5rem;
  border-radius: 12px;
  border: 1px solid #c4c4c4;
  padding-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.search-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-match-button {
  width: 60%;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #6030d1;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  margin-top: 16px;
}

.search-all-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-all-matchs-button {
  width: 60%;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #6030d1;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  margin-top: 16px;
}

.back-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-button {
  width: 100%;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #6030d1;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  margin-top: 16px;
}

.back-button-title {
  width: 60%;
  color: white;
  text-decoration: none;
}

/*====  RESULT ====================== */

#resultadoBusca {
  margin-top: 24px;
}

.lista-partidas {
  height: 300px;
  overflow: auto;
}

.partida {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 16px;
  height: 260px;
  padding-inline: 16px;
}

.elements-match > h3 {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
}

.paragraph-title {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-top: 4px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}

.icons-container img {
  width: 24px;
}
