/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }

/*====  CONTAINER ====================== */

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}


.side_image{
    max-width: 50vw;
}

/*====  FORM ====================== */

.form_container{
    align-items: center;
    padding: 4rem 5rem;
    margin: auto;
    width: 600px;
    /* border: 1px solid black; */
}

.login_title{
    display: block;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.login_subtitle{
    display: block;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #636364;
}

.input-title{
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

#email{
    width: 100%;
    height: 2.5rem;
    border-radius: 12px;
    border: 1px solid #C4C4C4;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

#senha{
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 12px;
    border: 1px solid #C4C4C4;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.forgot-password-container{
    margin-top: 2rem;
}

.forgot-password {
    position: relative;
    text-decoration: none;
    color: black;
    top: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    cursor: pointer;
}

.login_button{
    width: 100%;
    height: 2.5rem;
    border-radius: 12px;
    background-color: #6030d1;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    margin-top: 0.6rem;
}

.register{
    margin-top: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.register-link {
    color: #8b39dd;
    transition: color 0.3s; 
}

p.login_button > a{
    text-align: center;
    color: white;
}

.error-message {
    color: red;
}

.error-message {
    animation: shake 0.5s;
}


